.bg-button {
    width: 90%;
    height: 90%;
    background: linear-gradient(145deg, #333, #313131);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.05), inset 0 -2px 4px rgba(0, 0, 0, 0.6);
}

.mybutton {
    position: relative;
    top: -4%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: none;
    background: linear-gradient(145deg, #a30b0b, #700808); /* Gradient for depth */
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all 0.35s ease;
    box-shadow: rgb(75, 1, 1) 0px 5px 1px 0px;
    color: #fff;
    cursor: pointer;
}

.mybutton:hover {
    background: linear-gradient(145deg, #850d0d, #860a0a);
}

.mybutton:active {
    background-color: #ff3636;
    box-shadow: rgb(75, 1, 1) 0px 2px 1px 0px;
    transform: translateY(5px);
    transition: 200ms;
}
