.menu-button {
  position: absolute; /* Fixed positioning to stay in place relative to the viewport */
  top:0%;
  right: 0%;
  width: 4vw; /* Width of the button */
  height: 4vw; /* Height of the button */
  background-color: #414541; /* Background color of the button */
  background-image: url("menus.png");
  background-size: 3vw 3vw;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px; /* Rounded corners */
  border: none;
  cursor: pointer; /* Pointer cursor on hover */
  display: flex;
  z-index: 1000;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.menu-button:hover {
  background-color: #565656; /* Darker background on hover */
  transform: scale(1.05); /* Slightly enlarge the button */
}

/* Blur effect for bomb game when menu is active */
.blur-background {
  filter: blur(8px);
  pointer-events: none; /* Prevent interaction with the blurred content */
}

/* Overlay for modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1020;
}

/* Modal box */
.modal {
  background-color: #788376;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  z-index: 1020;
}

/* Buttons inside modal */
.modal button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
}

.modal button:hover {
  background-color: #0056b3;
}

.resume{
  width: 10vw;
  height: 5vh;
  background-color: #0f1a11;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.resume:hover {
  background-color: #4d4d4d; /* Darker background color on hover */
  transform: scale(1.05); /* Slightly enlarge the button */
}

.restart{
  width: 10vw;  
  height: 5vh;
  background-color: #0f1a11;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.restart:hover {
  background-color: #4d4d4d; /* Darker background color on hover */
  transform: scale(1.05); /* Slightly enlarge the button */
}
.menu{
  color: #a8b2a6;
  width: 10vw;
  height: 5vh;
  background-color: #0f1a11;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.menu:hover {
  background-color: #4d4d4d; /* Darker background color on hover */
  transform: scale(1.05); /* Slightly enlarge the button */
}
