.myTimer{
    width: 93%;
    height: 70%;
    background-color: rgb(28, 28, 28);
    position: absolute;
    top: 21%;
    left: 3.5%;
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(52, 52, 52, 0.5);
}

.box-time{
    position: absolute;
    width: 25%;
    height: 80%;
    font-family: 'Digital-font1',sans-serif;
    font-size: 80px;
    font-weight: 1;
    z-index: 1000;
    z-index: 50;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.min{ left: 8%;}
.sec{ left: 37.5%;}
.milli-sec{ left: 67%;}

.on{ color: rgb(194, 194, 194); z-index: 5; }
.under{ color: rgb(164, 62, 62); z-index: 4; opacity: 0.25; }

.colon{
    position: absolute;
    cursor: default;
    width: 25%;
    height: 80%;
    font-family: 'Digital-font2',sans-serif;
    font-size: 85px;
    font-weight: 1;
    z-index: 1000;
    top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(194, 194, 194);
}

.colon1{ left: 22.5%; }
.colon2{ left: 51.5%; }


.status-miss-code-num{
    position: absolute;
    width: 4.5%;
    height: 12.7%;
    background-color: antiquewhite;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgba(108, 108, 108, 0.611);
    top: 4%;
    opacity: 0.8;
}

.miss1{ left: 5%;  background-color: rgb(115, 80, 77); }
.miss2{ left: 11%; background-color: rgb(115, 80, 77); }
.miss3{ left: 17%; background-color: rgb(115, 80, 77); }

.code-num1{left: 90%;  background-color: rgb(75, 121, 74); }
.code-num2{left: 84%; background-color: rgb(75, 121, 74); }
.code-num3{left: 78%; background-color: rgb(75, 121, 74); }
.code-num4{left: 72%; background-color: rgb(75, 121, 74); }
.code-num5{left: 66%; background-color: rgb(75, 121, 74); }

.active-miss{
    animation: glow-red 0.8s infinite;
}

.active-code{
    animation: glow-green 0.8s infinite;
}

@font-face {
    font-family: 'Digital-font1';
    src: url('/public/asset/digital-font.otf') format('Opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Digital-font2';
    src: url('/public/asset/digital-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@keyframes glow-green {
    0% {
        box-shadow: 0 0 10px 2px rgba(68, 255, 0, 0.8);
        background-color: rgba(68, 255, 0, 0.8);
      }
    50% {
        box-shadow: 0 0 5px 0.7px rgba(68, 255, 0, 0.6);
        background-color: rgba(68, 255, 0, 0.6);
    }
    100% {
        box-shadow: 0 0 10px 2px rgba(68, 255, 0, 0.8);
        background-color: rgba(68, 255, 0, 0.8);
    }
}
  
@keyframes glow-red {
    0% {
        box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.8);
        background-color: rgba(255, 0, 0, 0.8);
    }
    50% {
        box-shadow: 0 0 5px 0.7px rgba(255, 0, 0, 0.6);
        background-color: rgba(255, 0, 0, 0.6);
    }
    100% {
        box-shadow: 0 0 10px 2px rgba(255, 0, 0, 0.8);
        background-color: rgba(255, 0, 0, 0.8);
    }
}